<!DOCTYPE html>
<html>
  <head>
    <title>Eau Claire's Salon</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Eau Claire's Salon</h1>
      </div>
      @RenderBody()
    </div>
  </body>
</html>