<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <title>Eau Claire's Salon</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Eau Claire's Salon</h1>
      </div>
      @RenderBody()
    </div>
  </body>
</html>